#map {
	width: 900px;
	height: 600px;
}
#controls {
	margin: 0;
	list-style: none;
}
#controls li {
	display: inline;
	margin-left: 42px;
	font-family: Sans-Serif;
	font-size: 10pt;
}
#fusion-hm-li {
	visibility: hidden;
	margin-left: 8px;
}

#fb_button span {
	background: url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) repeat scroll 0 0 #5F78AB;
	border-bottom: 1px solid #1A356E;
	border-top: 1px solid #879AC0;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 1px 1px 0 21px;
	padding: 2px 6px 3px;
	line-height: 14px;
}

#fb_button {
	background: url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) no-repeat scroll left -188px #29447E;
	display: inline-block;
	line-height: 14px;
	outline: medium none;
	padding: 0 0 0 1px;
}

#fb_button:hover {
	text-decoration: none;
}

.hidden{
	
	display:none !important;
}
